body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; /* Gris igual que el de inicio */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-icons img {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.background {
    background: url('omg/portada.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.platforms {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
}

.platform-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.platform-btn img {
    height: 28px;
    width: 28px;
}
