/* ===================== */
/* ESTILOS ESPECÍFICOS INDEX */
/* ===================== */

body {
    background: url("img/index-background.jpg") no-repeat center center/cover;
    color: white;
    text-align: center;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 80px; /* para que no tape el header fijo */
}

.hero h1 {
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    background: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.hero button:hover {
    background: darkorange;
}
